* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#home {
    background-image: url("../images/bg2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    background-color: #464646;
}

#html {
    background: conic-gradient(#a5aa6a 324deg, #ededed 0deg);
}

#css {
    background: conic-gradient(#a5aa6a 288deg, #ededed 0deg);
}

#bootstrap {
    background: conic-gradient(#a5aa6a 288deg, #ededed 0deg);
}

#tailwind {
    background: conic-gradient(#a5aa6a 270deg, #ededed 0deg);
}

#js {
    background: conic-gradient(#a5aa6a 252deg, #ededed 0deg);
}

#react {
    background: conic-gradient(#a5aa6a 252deg, #ededed 0deg);
}

#firebase {
    background: conic-gradient(#a5aa6a 180deg, #ededed 0deg);
}